.App {
  font-family: sans-serif;
  text-align: center;
}


#marca-do-carro{
  color: rgb(19, 19, 188);
  font-size: 4vh;
}
.garagem{
  color: red;
}
.LOGO-LBN{
  width: 30vh;
  /* height: 30vh; */
}
.Headder{
  color: rgb(133, 51, 51);
}

#subaru{
    width: 49vh;
}

#cor{
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#ano{
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#tipoCombst{
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}